/*页面初始化部分*/
body, div, dl, dt, dd, h1, h2, h3, h4, h5, input, a, p, textarea, form {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfloat {
    zoom: 1;
}

.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

.section {
    overflow: hidden;
}

/*第一屏开始*/
.first {
    padding-top: 80px;
}

/*上部logo*/
.first .logo {
    background: url("../images/logo.png");
    width: 251px;
    height: 186px;
    margin: 0 auto;
}

/*中部文字*/
.first .text {
    margin-top: 80px;
    width: 100%;
    text-align: center;
}

.first .text > img {
    margin: 0 32px;
    opacity: 0.2;
    transition: margin 0.5s, opacity 0.5s;
}

/*下部图片*/
.first .intro {
    background: url("../images/info_1.png");
    width: 772px;
    height: 49px;
    margin: 40px auto;
}

/*动画部分*/
.first.current .text > img {
    margin: 0 10px;
    opacity: 1;
}

/*第二屏开始*/
.second > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.second .shield {
    font-size: 0;
    width: 440px;
    height: auto;
}

.second .info {
    width: 635px;
    height: 309px;
    background: url("../images/info_2.png");
}

.shield > img {
    transition: transform 0.5s;
}

.shield > img:nth-of-type(1) {
    transform: translate(100px, 100px) rotate(30deg);
}

.shield > img:nth-of-type(2) {
    transform: translate(-100px, -100px) rotate(-30deg);
}

.shield > img:nth-of-type(3) {
    transform: translate(50px, 50px) rotate(60deg);
}

.shield > img:nth-of-type(4) {
    transform: translate(-100px, -100px) rotate(-60deg);
}

.shield > img:nth-of-type(5) {
    transform: translate(80px, 80px) rotate(90deg);
}

.shield > img:nth-of-type(6) {
    transform: translate(50px, 90px) rotate(-90deg);
}

.shield > img:nth-of-type(7) {
    transform: translate(-70px, -70px) rotate(60deg);
}

.shield > img:nth-of-type(8) {
    transform: translate(10px, -60px) rotate(-90deg);
}

.shield > img:nth-of-type(9) {
    transform: translate(-50px, 30px) rotate(45deg);
}

.second.current .shield > img {
    transform: none;
}

/*第三屏开始*/
.third {
    position: relative;
}

.third .info {
    position: absolute;
    background: url("../images/info_3.png");
    width: 631px;
    height: 278px;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
}

.third .circle {
    position: absolute;
    background: url("../images/circle.png");
    width: 453px;
    height: 449px;
    top: 50%;
    right: 50%;
    transform: translate(120%, -50%);
}

.third .circle > .rocket {
    position: absolute;
    background: url("../images/rocket.png");
    width: 203px;
    height: 204px;
    left: -600px;
    top: 650px;
    /*添加过渡*/
    transition: left 1s, top 1s;
}

.third.current .circle > .rocket {
    left: 125px;
    top: 125px;
}

/*第四屏开始*/
.fourth {
    position: relative;
}

.fourth .search {
    position: absolute;
    width: 529px;
    height: 438px;
    left: 50%;
    top: 50%;
    transform: translate(-115%, -50%);
    overflow: hidden;
}

.fourth .search > .searchBar {
    width: 529px;
    height: 66px;
    background: url("../images/search.png");
    transform: translateX(-100%);
}

.fourth .search > .searchText {
    position: absolute;
    width: 0;
    height: 22px;
    top: 20px;
    left: 15px;
    background: url("../images/key.png");
}

.fourth .search > .searchResult {
    width: 529px;
    height: 0;
    margin-top: -12px;
    background: url("../images/result.png");
}

.fourth .info {
    position: absolute;
    width: 612px;
    height: 299px;
    right: 50%;
    top: 50%;
    transform: translate(100%, -50%);
    background: url("../images/info_4.png")
}

.fourth.current .search > .searchBar {
    transform: translateX(0%);
    transition: transform 0.5s;
}
.fourth.current .search > .searchText {
    width: 99px;
    transition: width 0.5s 1s steps(5);
}
.fourth.current .search > .searchResult {
    height: 372px;
    transition: height 0.5s 2s;
}